/* VARIABLES */

$progress-width: 24em;
$progress-height: .15em;

$line-height: 1.5em;

/* COLORS */

$color: #6c6c6c;
$color-bg: #f5f7f9;
$color-progress-bg: #e5e9eb;

$color-green: #4cd964;
$color-turquoise: #5ac8fa;
$color-blue: #007aff;
$color-light-blue: #34aadc;
$color-purple: #5856d6;
$color-red: #ff2d55;

/* BASE */

html,
body {
  height: 100%;
}

body {
  background-color: $color-bg;
  color: $color;
  margin: 0;
  position: relative;
}

/* HELPERS */

.text-center {
  text-align: center;
}

/* GRID */

.container {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* PROGRESS */

.progress {
  background-color: $color-progress-bg;
  height: $progress-height;
  position: relative;
  width: $progress-width;

  &-bar {
    animation-duration: 3s;
    animation-name: width;
    background-image: linear-gradient(to right, $color-green, $color-turquoise, $color-blue, $color-light-blue, $color-purple, $color-red);
    background-size: $progress-width $progress-height;
    height: 100%;
    position: relative;
  }
}

/* ANIMATIONS */

@keyframes width {

  0%, 100% {
    transition-timing-function: cubic-bezier(1, 0, .65, .85);
  }

  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }

}
